:root {
  --color-blue: #515def;
  --color-black: #333333;
  --color-grey: #909090;
  --color-white: #fbfbfb;
  --font-primary: "Poppins", sans-serif;
}

body {
  background-image: url(../img/iro-background@2x.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 40%;
  background-color: var(--color-blue);

  padding: 2% 7%;

  font-family: var(--font-primary);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
}

header figure {
  margin: 0;
}

header figure img {
  width: 100px;
}

header figcaption {
  display: none;
}

header nav {
  width: 100%;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;

  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul a {
  color: var(--color-white);
  font-weight: normal;
  text-decoration: none;
  vertical-align: top;
}

header nav ul li:last-child {
  background-color: var(--color-blue);
  align-self: flex-end;
  margin-left: auto;
}
